{
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  },
  "globals": {
    "fetch": true
  }
}
